<head>
  	<title>{{ site.title | escape }}</title>
    
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Blog Template">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">    
    <link rel="shortcut icon" href="favicon.ico"> 
    
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="{{site.url}}/assets/css/theme-1.css">
</head>
