---
layout: default
---

{{ content }}

{%- if site.posts.size > 0 -%}
  {%- for post in site.posts -%}
    <div class="item mb-5">
      <div class="media">
        <div class="media-body">
          <h3 class="title mb-1"><a href="{{site.url}}/{{ post.url | relative_url }}">{{ post.title | escape }}</a></h3>
          <div class="meta mb-1">
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span class="date">{{ post.date | date: date_format }}</span>
          </div>
          {%- if post.introduction -%}
            <div class="intro">{{ post.introduction | escape }}</div>
          {%- endif -%}
          <a class="more-link" href="{{site.url}}/{{ post.url | relative_url }}">Read more &rarr;</a>
        </div><!--//media-body-->
      </div><!--//media-->
    </div>
  {%- endfor -%}
{%- endif -%}
